* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*HEADER*/
header nav .navbar .container-fluid .logo {
  margin: auto;
  margin-left: 20px;
  margin-right: 50px; }

header nav .navbar .container-fluid .collapse .navbar-nav .nav-link:hover {
  color: black;
  font-size: 26px;
  transition: 1s;
  word-spacing: 10px; }

/*INDEX*/
.body_index {
  background-image: url(../imagenes/background7.jpg);
  font-style: Arial; }
  .body_index .main_Index h1 {
    font-weight: 400;
    font-size: 50px;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    color: black;
    margin-top: 50px;
    padding: 20px 0; }
  .body_index .main_Index .linea {
    background: #550b51;
    height: 5px;
    width: 100%;
    display: block; }

/*QUIENES SOMOS*/
.body_QuienesSomos {
  background-image: url(../imagenes/background7.jpg);
  font-family: Arial; }
  .body_QuienesSomos .main_Quienes-Somos h1 {
    font-weight: 400;
    font-size: 50px;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    padding: 20px 0;
    color: black;
    margin-top: 50px; }
  .body_QuienesSomos .main_Quienes-Somos .linea {
    background: #550b51;
    height: 5px;
    width: 100%;
    display: block; }
  .body_QuienesSomos .main_Quienes-Somos .banner_QS {
    width: 50%;
    height: 40vh;
    border: 3px solid black;
    margin: auto;
    margin-top: 80px;
    background-size: 100% 100%;
    animation-name: bannerQS;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate; }

@keyframes bannerQS {
  0%, 25% {
    background-image: url(../imagenes/banner5.jpg); }
  30%, 50% {
    background-image: url(../imagenes/banner6.jpg); }
  55%, 75% {
    background-image: url(../imagenes/banner7.jpg); }
  80%, 100% {
    background-image: url(../imagenes/banner9.jpg); } }
  .body_QuienesSomos .main_Quienes-Somos article .info_Quienes-Somos {
    border: 3px solid black;
    padding: 20px;
    font-size: 20px;
    text-align: justify;
    margin: 50px;
    display: flex;
    flex-wrap: wrap; }

/*DESTINOS*/
.body_Destinos {
  background-image: url(../imagenes/background7.jpg);
  font-style: Arial; }
  .body_Destinos .main_Destinos h1 {
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    padding: 20px 0;
    color: black;
    font-family: 'Libre Baskerville', serif;
    margin-top: 50px; }
  .body_Destinos .main_Destinos .linea {
    background: #550b51;
    height: 5px;
    width: 100%;
    display: block; }
  .body_Destinos .main_Destinos .container .h3-destinos {
    margin-top: 15px; }

/*GALERIA */
.body-Galeria {
  background-image: url(../imagenes/background7.jpg);
  font-style: Arial; }
  .body-Galeria .main_Galeria article .linea {
    background: #550b51;
    height: 5px;
    width: 100%;
    display: block; }
  .body-Galeria .main_Galeria article h1 {
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    padding: 20px 0;
    color: black;
    font-family: 'Libre Baskerville', serif;
    margin-top: 50px; }
  .body-Galeria .main_Galeria article .galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: center;
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 40px, 0;
    margin-top: 40px;
    overflow: hidden; }
    .body-Galeria .main_Galeria article .galeria a {
      display: block;
      position: relative;
      overflow: hidden;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); }
    .body-Galeria .main_Galeria article .galeria :hover img {
      transform: scale(1.1, 1.1);
      z-index: 22;
      opacity: 1; }
    .body-Galeria .main_Galeria article .galeria img {
      width: 100%;
      vertical-align: top;
      height: 280px;
      object-fit: cover;
      transition: transform 0.5s; }

/*CONTACTO*/
.body_Contacto {
  background-image: url(../imagenes/background7.jpg);
  font-style: Arial; }
  .body_Contacto .main_Contacto {
    background-size: cover;
    background-attachment: fixed;
    margin: 0%;
    display: grid;
    grid-template-areas: "form";
    grid-template-columns: 4fr;
    grid-template-rows: 4fr; }
    .body_Contacto .main_Contacto .linea {
      background: #550b51;
      height: 5px;
      width: 100%;
      display: block; }
    .body_Contacto .main_Contacto h1 {
      font-weight: 450px;
      text-align: center;
      padding: 20px 0;
      font-size: 50px;
      color: black;
      font-family: 'Libre Baskerville', serif;
      margin-top: 50px; }
    .body_Contacto .main_Contacto form {
      width: 350px;
      margin: auto;
      margin-top: 50px;
      background: rgba(0, 0, 0, 0.4);
      padding: 10px 20px;
      box-sizing: border-box;
      border-radius: 7px;
      grid-area: form; }
      .body_Contacto .main_Contacto form input, .body_Contacto .main_Contacto form textarea {
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 17px;
        border: none; }
        .body_Contacto .main_Contacto form input textarea, .body_Contacto .main_Contacto form textarea textarea {
          min-height: 100px;
          max-height: 200px;
          max-width: 100%; }
      .body_Contacto .main_Contacto form #boton {
        background: #ffffff;
        padding: 20px;
        border-radius: 5px; }
        .body_Contacto .main_Contacto form #boton :hover {
          cursor: pointer; }

/*FOOTER*/
footer {
  width: 100%;
  background: grey;
  color: black;
  margin-top: 100px; }
  footer .container-footer-all {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px; }
    footer .container-footer-all .container-body {
      display: flex;
      justify-content: space-between; }
      footer .container-footer-all .container-body .colum1 {
        max-width: 400px; }
        footer .container-footer-all .container-body .colum1 h2 {
          font-size: 22px; }
        footer .container-footer-all .container-body .colum1 p {
          font-size: 14px;
          color: black;
          margin-top: 20px; }
      footer .container-footer-all .container-body .colum2 {
        max-width: 400px; }
        footer .container-footer-all .container-body .colum2 h2 {
          font-size: 22px; }
        footer .container-footer-all .container-body .colum2 .row1 {
          margin-top: 20px;
          display: flex; }
          footer .container-footer-all .container-body .colum2 .row1 img {
            width: 36px;
            height: 36px; }
          footer .container-footer-all .container-body .colum2 .row1 label {
            margin-top: 10px;
            margin-left: 20px;
            color: black; }
      footer .container-footer-all .container-body .colum3 {
        max-width: 400px; }
        footer .container-footer-all .container-body .colum3 h2 {
          font-size: 22px; }
        footer .container-footer-all .container-body .colum3 .row2 {
          margin-top: 20px;
          display: flex; }
          footer .container-footer-all .container-body .colum3 .row2 img {
            width: 36px;
            height: 36px; }
          footer .container-footer-all .container-body .colum3 .row2 label {
            margin-top: 10px;
            margin-left: 20px;
            max-width: 140px; }
  footer .container-footer {
    width: 100%;
    background: #101010; }
    footer .container-footer .footer {
      max-width: 1200px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      padding: 20px; }
      footer .container-footer .footer .copyright {
        color: #C7C7C7; }
        footer .container-footer .footer .copyright a {
          text-decoration: none;
          color: white;
          font-weight: bold; }
      footer .container-footer .footer .information a {
        text-decoration: none;
        color: #C7C7C7; }

@media screen and (max-width: 1024px) {
  .container-body {
    flex-wrap: wrap; }
    .container-body .colum1 {
      max-width: 100%; }
    .container-body .colum2, .container-body .colum3 {
      margin-top: 40px; } }

@media (min-width: 400px) {
  .banner_QS {
    width: 100%; } }
